<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobitill.barandrestaurant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".auth.AuthActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--android:windowSoftInputMode="stateHidden">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.RegisterActivity" />
        <activity
            android:name=".receipts_detail.ReceiptsDetailActivity"
            android:parentActivityName=".receipts.ReceiptsActivity" />
        <activity
            android:label="@string/OrderList"
            android:launchMode="singleTop"
            android:name=".receipts.ReceiptsActivity" />
        <activity
            android:label="@string/Checkout"
            android:name=".checkout.CheckOutActivity"></activity>
    </application>

</manifest>